<section id='counter'>
  <p>There are <%= @foods.count %> results</p>
</section>
<br>
<% @foods.each do |food| %>
<br>
  <section id='GTIN-code'>
    gtin/ upc: <%= food.code %>
  </section>
<br>
  <section id='ingredients'>
    Ingredients: <%= food.ingredients %>
  </section>
<br>
  <section id='description'>
    Description: <%= food.description %>
  </section>
<br>
  <section id='brand'>
    From <%= food.brand %>
  </section>
<% end %>
